<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ProCRM - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">

</head>
<body>  

<section id="background">
    <div id="blob"></div>
    <div id="blur"></div>
  </section>
  
  <main>
  
  
    <div id="title">
      <span class="word">
        <span class="char">S</span>
        <span class="char">I</span>
        <span class="char">M</span>
        <span class="char">P</span>
        <span class="char">L</span>
        <span class="char">I</span>
        <span class="char">F</span>
        <span class="char">Y</span>
        <span class="char">.</span>
        

      </span>
      <span class="word">
        <span class="char">C</span>
        <span class="char">O</span>
        <span class="char">N</span>
        <span class="char">N</span>
        <span class="char">E</span>
        <span class="char">C</span>
        <span class="char">T</span>
        <span class="char">.</span>

      </span>
      <span class="word">
        <span class="char">C</span>
        <span class="char">O</span>
        <span class="char">N</span>
        <span class="char">Q</span>
        <span class="char">U</span>
        <span class="char">E</span>
        <span class="char">R</span>
        <span class="char">.</span>

        
      </span>
      
    </div>
  
    <button id="replay">
      <span id="purple"></span>
      <span id="turquois"></span>
      <span id="yellow"></span>
      <span class="text" id="text-static">Pro CRM</span>
      <span class="text" id="text-reveal">Login</span>
    </button>
  
  </main>
  


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
</body>
</html>
